# dependencies
**/node_modules
**/.yarn/*
!**/.yarn/patches
!**/.yarn/plugins
!**/.yarn/releases
!**/.yarn/sdks
!**/.yarn/versions

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Log files
logs
*.log
*-debug.log
*-error.log

# Windows system files
Thumbs.db
ehthumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/
